body {
    font-size: 14px;
}

#page {
    display: none;
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("../template/img/cek.svg");
    background-repeat: no-repeat;
    background-position: center;
}